apiVersion: v1
kind: Secret
metadata:
  name: {{ include "s3proxy.fullname" . }}
  labels:
    {{- include "s3proxy.labels" . | nindent 4 }}
type: Opaque
stringData:
  # Properties file containing sensitive configuration values
  # This will be merged with the backend properties files by the init container
  secret.properties: |
{{- if and .Values.config.auth.identity .Values.config.auth.secret }}
    # S3Proxy authentication credentials (for clients connecting to s3proxy)
    s3proxy.identity={{ .Values.config.auth.identity }}
    s3proxy.credential={{ .Values.config.auth.secret }}
{{- end }}

{{- if .Values.config.backends.s3.enabled }}
  {{- if .Values.config.backends.s3.secretAccessKey.value }}
    # S3 backend credentials
    jclouds.credential={{ .Values.config.backends.s3.secretAccessKey.value }}
  {{- end }}
{{- else if .Values.config.backends.azureblob.enabled }}
  {{- if or .Values.config.backends.azureblob.key.value .Values.config.backends.azureblob.sasToken.value }}
    # Azure Blob backend credentials
  {{- end }}
  {{- if .Values.config.backends.azureblob.key.value }}
    jclouds.credential={{ .Values.config.backends.azureblob.key.value }}
  {{- end }}
  {{- if .Values.config.backends.azureblob.sasToken.value }}
    jclouds.azureblob.sas={{ .Values.config.backends.azureblob.sasToken.value }}
  {{- end }}
{{- else if .Values.config.backends.googleCloudStorage.enabled }}
  {{- if .Values.config.backends.googleCloudStorage.privateKey.value }}
    # Google Cloud Storage backend credentials (privateKey stored in secret)
    jclouds.credential=jclouds.credential={{ .Values.config.backends.googleCloudStorage.privateKey.value | trim | replace "\n" "\\n\\" }}
  {{- end }}
{{- else if .Values.config.backends.b2.enabled }}
  {{- if .Values.config.backends.b2.applicationKey.value }}
    # Backblaze B2 backend credentials
    jclouds.credential={{ .Values.config.backends.b2.applicationKey.value }}
  {{- end }}
{{- else if .Values.config.backends.openstackSwift.enabled }}
  {{- if .Values.config.backends.openstackSwift.password.value }}
    # OpenStack Swift backend credentials
    jclouds.credential={{ .Values.config.backends.openstackSwift.password.value }}
  {{- end }}
{{- else if .Values.config.backends.rackspaceCloudfiles.enabled }}
  {{- if .Values.config.backends.rackspaceCloudfiles.apiKey.value }}
    # Rackspace Cloud Files backend credentials
    jclouds.credential={{ .Values.config.backends.rackspaceCloudfiles.apiKey.value }}
  {{- end }}
{{- end }}
